{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    {#    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>#}
    {#    <meta name="keywords" content="HTML, CSS, JavaScript">#}
    {#    <meta name="description"#}
    {#          content="A clean, beautiful and responsive portfolio template for Developers! using only Html, CSS, and JavaScript">#}
    {#    <meta name="author" content="Puskar Adhikari">#}
    <title>Chris Wang | Blog Site</title>
    <link href="{% static 'css/header.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/home.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/about.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/service.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/portfolio.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/testimonials.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/testimonials.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/contact.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/footer.css' %}" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="brand-name">
                <a href="/" class="logo">Chris</a>
            </div>
            <div class="hamburger">
                <i class="fa fa-bars">&#9776;</i>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="#home" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <!--<li><a href="#services">Services</a></li>-->
                    <li><a href="#portfolio">Recent Posts</a></li>
                    <li><a href="/blog/all-blogs">Documents</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="home" id="home">
    <div class="container">
        <div class="row full-screen">
            <div class="home-content">
                <div class="block">
                    <h6>Hi, my name is</h6>
                    <h1>Chris Wang <span class="chinese-font">王欣洲</span></h1>
                    <h3>Good to have you here.</h3>
                    <div class="cv-btn">
                        <a href="#">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="title">
                <h1>About Me</h1>
                {#                <p>Know more about me</p>#}
            </div>
        </div>
        <div class="row">
            <div class="about-content">
                <div class="row">
                    <div class="img">
                        <img src="{% static 'img/wechat_me.jpg' %}" alt='me'/>
                    </div>
                    <div class="text">
                        <h4>I'm Chris Wang</h4>
                        <h6>Welcome to my blog, in which you can discover exhibitions of my hobbies, credentials, and
                            <span>notes related to Tech and Business</span>.
                        </h6>

                        <p class="paragraph-spacing">
                            As an enthusiastic technologically-inclined student, I derive immense pleasure in
                            participating in a diverse range of intriguing and pedagogically-stimulating tech-related
                            practices, such as data processing and management, 3D, web, algorithm, machine learning, and
                            other captivating contents.
                        </p>
                        <p class="paragraph-spacing">
                            Here you may download my CV, view my blogs and notes, and more. And it is of utmost pleasure
                            of me if you are interested in hiring me as an intern or seeking collaboration of any kinds.
                        </p>
                        <p class="paragraph-spacing">
                            Also note that this website is intended strictly for personal usage and does not serve any
                            commercial purposes. Please be abstained from any malicious conducts, such as attacking,
                            cracking or scraping.
                        </p>
                    </div>
                    {#                        <div class="skills">#}
                    {#                            <h6>Here are My few Tech Stack I've been working:</h6>#}
                    {#                            <div class="skills-list">#}
                    {#                                <ul class="fa-ul">#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript</li>#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>HTML5</li>#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS/SCSS</li>#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>React JS</li>#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Next.js' %}"</li>#}
                    {#                                </ul>#}
                    {#                                <ul class="fa-ul">#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Version Control#}
                    {#                                    </li>#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>UI/UX Design</li>#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS/SCSS</li>#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Firebase</li>#}
                    {#                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Adobe XD</li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="social">#}
                    {#                            <a href=""><i class="fa fa-facebook"></i></a>#}
                    {#                            <a href=""><i class="fa fa-twitter"></i></a>#}
                    {#                            <a href=""><i class="fa fa-instagram"></i></a>#}
                    {#                            <a href=""><i class="fa fa-github"></i></a>#}
                    {#                            <a href=""><i class="fa fa-linkedin"></i></a>#}
                    {#                        </div>#}
                </div>
            </div>
        </div>
    </div>
</section>

{#<section class="blog" id="blog">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="title text-center">#}
{#                <h1>Latest Blogs</h1>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="gallery">#}
{#                <div class="item" data-id="web">#}
{#                    <div class="inner">#}
{#                        <img src="{% static 'img/portfolio/web.jpg' %}" alt="portfolio"/>#}
{#                        <div class="overlay">#}
{#                            <span class="fa fa-plus"></span>#}
{#                            <h4>Web Design</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item" data-id="web">#}
{#                    <div class="inner">#}
{#                        <img src="{% static 'img/portfolio/web2.png' %}" alt=" portfolio"/>#}
{#                        <div class="overlay">#}
{#                            <span class="fa fa-plus"></span>#}
{#                            <h4>Web Design</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item" data-id="app">#}
{#                    <div class="inner">#}
{#                        <img src="{% static 'img/portfolio/app.png' %}" alt=" portfolio"/>#}
{#                        <div class="overlay">#}
{#                            <span class="fa fa-plus"></span>#}
{#                            <h4>App Interface</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item" data-id="app">#}
{#                    <div class="inner">#}
{#                        <img src="{% static 'img/portfolio/app2.png' %}" alt=" portfolio"/>#}
{#                        <div class="overlay">#}
{#                            <span class="fa fa-plus"></span>#}
{#                            <h4>App Interface</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item" data-id="ui">#}
{#                    <div class="inner">#}
{#                        <img src="{% static 'img/portfolio/ui2.png' %}" alt=" portfolio"/>#}
{#                        <div class="overlay">#}
{#                            <span class="fa fa-plus"></span>#}
{#                            <h4>UI/UX Design</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item" data-id="ui">#}
{#                    <div class="inner">#}
{#                        <img src="{% static 'img/portfolio/ui3.png' %}" alt="portfolio"/>#}
{#                        <div class="overlay">#}
{#                            <span class="fa fa-plus"></span>#}
{#                            <h4>UI/UX Design</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h1>Recent Posts</h1>
            </div>
        </div>
        <div class="row">
            <div class="filter-btn">
                <ul id="filterBtn">
                    <li class="active" data-target="all">Recent</li>
                    <li data-target="web"><a style="color: #5f88e0;" href="/blog/all-blogs">View more articles >>>
                    </a></li>
                    {#                    <li data-target="app">Business</li>#}
                    {#                    <li data-target="ui">Misc</li>#}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="blog-content">
                {% for blog in blogs %}
                    <div class="blog-box">
                        <div class="blog-img">
                            <img src="{% static blog.pic %} "/>
                        </div>
                        <div class="blog-text">
                            <div class="blog-info">
                                <span>{{ blog.date }}</span>
                                <span>{{ blog.category }}</span>
                            </div>
                            <h3>{{ blog.title }}</h3>
                            <p>{{ blog.content }}</p>
                            <a href="/blog/{{ blog.title }}">Read More</a>
                        </div>
                    </div>
                {% endfor %}

                {#                <div class="blog-box">#}
                {#                    <div class="blog-img">#}
                {#                        <img src="{%static 'img/blogs/1.jpg' %}" />#}
                {#                    </div>#}
                {#                    <div class="blog-text">#}
                {#                        <div class="blog-info">#}
                {#                            <span>May 3, 2020</span>#}
                {#                            <span>Version Control</span>#}
                {#                        </div>#}
                {#                        <h3>Why every developer uses Git.</h3>#}
                {#                        <p>Git allows us to have a "version" of a project which shows the changes that were made to the#}
                {#                            code over time, and allows us to backtrack if necessary and undo the changes.</p>#}
                {#                        <a href="https://devpuskar.netlify.app/blogs/04git">Read More</a>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="blog-box">#}
                {#                    <div class="blog-img">#}
                {#                        <img src="{% static 'img/blogs/2.png'%}"/>#}
                {#                    </div>#}
                {#                    <div class="blog-text">#}
                {#                        <div class="blog-info">#}
                {#                            <span>May 1, 2020</span>#}
                {#                            <span>Web Development</span>#}
                {#                        </div>#}
                {#                        <h3>JavaScript Promises</h3>#}
                {#                        <p>Before we use promises, our code was full of confusing callback tricks and asynchronous.#}
                {#                            Switching to promises made our code easier to read, understand, and test.</p>#}
                {#                        <a href="https://devpuskar.netlify.app/blogs/03jspromises">Read More</a>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="blog-box">#}
                {#                    <div class="blog-img">#}
                {#                        <img src="{%static 'img/blogs/3.jpg' %}" />#}
                {#                    </div>#}
                {#                    <div class="blog-text">#}
                {#                        <div class="blog-info">#}
                {#                            <span>April 27, 2020</span>#}
                {#                            <span>Programming</span>#}
                {#                        </div>#}
                {#                        <h3>Why we don’t need a degree to be a Developer.</h3>#}
                {#                        <p>That's right. You don’t need a degree to be a developer. Whilst university is definitely the#}
                {#                            right path for some people, it is not right for everyone.</p>#}
                {#                        <a href="https://devpuskar.netlify.app/blogs/01developerdegree">Read More</a>#}
                {#                    </div>#}
                {#                </div>#}

            </div>
        </div>

    </div>
</section>

{#<section class="services" id="services">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="title text-center">#}
{#                <h1>Services</h1>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="service-content">#}
{#                <div class="box">#}
{#                    <div class="icon"><i class="fa fa-laptop"></i></div>#}
{#                    <h5>Web Design</h5>#}
{#                    <p>From single landing pages to a fully-blown eCommerce store,#}
{#                        I'll create a design that fits you and your business.#}
{#                    </p>#}
{#                </div>#}
{#                <div class="box">#}
{#                    <div class="icon"><i class="fa fa-code"></i></div>#}
{#                    <h5>Web Development</h5>#}
{#                    <p>I create fully scalable and economically viable web#}
{#                        applications that boost your business.#}
{#                    </p>#}
{#                </div>#}
{#                <div class="box">#}
{#                    <div class="icon"><i class="fas fa-palette"></i></div>#}
{#                    <h5>UI/UX Design</h5>#}
{#                    <p>Powerful UI/UX is the key to higher user adoption rates, and#}
{#                        easier onboarding. By taking the following elements, I conduct#}
{#                        initial research and craft the design.#}
{#                    </p>#}
{#                </div>#}
{#                <div class="box">#}
{#                    <div class="icon"><i class="fas fa-wallet"></i></div>#}
{#                    <h5>Business Application</h5>#}
{#                    <p>I take an innovation-led approach to business application#}
{#                        services that make use of emerging technology and#}
{#                        software-as-a-service.#}
{#                    </p>#}
{#                </div>#}
{#                <div class="box">#}
{#                    <div class="icon"><i class="fa fa-mobile"></i></div>#}
{#                    <h5>Apps Interfac</h5>#}
{#                    <p>To match the pace, I give my best to design eye-catching#}
{#                        designs and prominent user-interfaces.#}
{#                    </p>#}
{#                </div>#}
{#                <div class="box">#}
{#                    <div class="icon"><i class="fa fa-rocket"></i></div>#}
{#                    <h5>SEO</h5>#}
{#                    <p>SEO is a critical component of online marketing. I use a#}
{#                        combination of the latest onsite and off-site strategies to#}
{#                        produce top results.#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<section class="message">
    <div class="container">
        <div class="row align-items-center">
            <div class="message-text">
                <h2>Check more of my blogs, notes and papers content here >>></h2>
            </div>
            <div class="button ">
                <a href='/blog/all-blogs'>Go to Documents</a>
            </div>
        </div>
    </div>
</section>
{#<section class="testimonials">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="title text-center">#}
{#                <h1>Testimonials</h1>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="testimonials-content">#}
{#                <div class="testimonials-box">#}
{#                    <div class="testimonials-img">#}
{#                        <div class="test-img">#}
{#                            <img src="{% static 'img/testimonials/1.jpeg' %}"/>#}
{#                        </div>#}
{#                        <div class="testimonials-text">#}
{#                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquam. Corrupti#}
{#                                molestias quae culpa accusamus magni accusantium itaque dolore soluta.</p>#}
{#                            <h6>Mosh Hamedani</h6>#}
{#                            <p>Software Engineer</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="testimonials-img">#}
{#                        <div class="test-img">#}
{#                            <img src="{% static 'img/testimonials/2.jpg' %}"/>#}
{#                        </div>#}
{#                        <div class="testimonials-text">#}
{#                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquam. Corrupti#}
{#                                molestias quae culpa accusamus magni accusantium itaque dolore soluta.</p>#}
{#                            <h6>Kyle Simpson</h6>#}
{#                            <p>JavaScript Engineer</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="testimonials-img">#}
{#                        <div class="test-img">#}
{#                            <img src="{% static 'img/testimonials/3.jpg' %}"/>#}
{#                        </div>#}
{#                        <div class="testimonials-text">#}
{#                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquam. Corrupti#}
{#                                molestias quae culpa accusamus magni accusantium itaque dolore soluta.</p>#}
{#                            <h6>Ryan Florence</h6>#}
{#                            <p>ReactJS Engineer</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="testimonials-img">#}
{#                        <div class="test-img">#}
{#                            <img src="{% static 'img/testimonials/4.jpg' %}"/>#}
{#                        </div>#}
{#                        <div class="testimonials-text">#}
{#                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquam. Corrupti#}
{#                                molestias quae culpa accusamus magni accusantium itaque dolore soluta.</p>#}
{#                            <h6>Amelia Madyson</h6>#}
{#                            <p>Front-End Developer</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="slider"></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h1>Get In Touch</h1>
            </div>
        </div>
        <div class="row">
            <div class="contact-form">
                <div class="row">
                    <div class="contact-text">
                        <h2>Drop me message</h2>
                        <p>My inbox is always open. I'll try my best to get back to you!</p>
                        <p>Email: syndromechris404@gmail.com</p>
                        <p>Phone & WeChat: +86 18221546090</p>
                    </div>
                </div>
                <div class="row space-between">
                    <div class="col-6">
                        <input type="text" class="form-control" name="" placeholder="Name"/>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="" placeholder="Email"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <textarea class="form-control" placeholder="Your Message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="button btn">
                        <a href="#">Get In Touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copyright">
    <div class="container">
        <p><span id="year"></span>Last Update Jul 13th | Self-developed Using Django and Nginx</p>
    </div>
</section>
<div class="lightbox hide">
    <span class="close-lightbox fa fa-close"></span>
    <img src="" alt="portfolio"/>
</div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>

